@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Alumni+Sans:wght@100;200;300;500;600;700;800;900&family=Inter:wght@200;300;500;600&display=swap");

div.login-icon-area .user-pfp,
.players-turn .player .player-pfp {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #363333;
  border: 3px solid #363333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alumni Sans", sans-serif;
  font-weight: regular;
}

body {
  background-color: #2b2626;
  padding-bottom: 0;
}

.wrapper {
  height: 100vh;
  width: 400px;
  margin: auto;
  padding-top: 2em;
}

.logo {
  font-size: 110px;
  line-height: 0.71;
  font-weight: 400;
  color: #f7b7b7;
  margin-bottom: 90px;
  font-family: "Alumni Sans Collegiate One", sans-serif;
}

.helper-hint {
  font-size: 25px;
  font-weight: bold;
  color: #fbd9d9;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 25px;
}

.form-control input {
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  background: #fbd9d9;
  border: 1px solid #fbd9d9;
}

.form-control input,
.form-control input::placeholder {
  font-size: 19px;
  color: #5c2020;
}

.form-control input[type="submit"] {
  background: #813636;
  border: 1px solid #813636;
  color: #fbd9d9;
  cursor: pointer;
}

.form-control input[type="submit"]:hover {
  opacity: 0.7;
}

.pfp {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.pfp .avatar {
  width: 100px;
  height: 100px;
  background: #813636;
  border: 2px solid #5c2020;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  opacity: 1;
  content: "Select Image -";
  display: inline-block;
  border: 1px solid #fbd9d991;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 16px;
  color: #fbd9d9;
  -webkit-user-select: none;
  width: 100px;
}
.custom-file-input:hover::before {
}
